.container {
	padding-top: 32px;
}
.navbar, .alert, .well {
	border-radius: 0;
}
.chat-name {
	color: #9999ff;
}
#chat-history, #chat-user-list {
	height: 256px;
	overflow-y: auto;
}
#chat-history > p {
	margin: 0;
	padding: 0;
	word-break: break-all;
}
#chat-user-list > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	word-break: break-all;
}
